@model List<WebApp.Models.GravityBookStore.AuthorEntity>

@{
    ViewBag.Title = "Autorzy książki";
    Layout = "_Layout";
}

<h2>Autorzy książki "@ViewBag.BookTitle"</h2>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m[0].AuthorName)</th>
            <th>@Html.DisplayNameFor(m => m[0].Books)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in @Model)
        {
            <tr>
                <td>@entry.AuthorName</td>
                <td>
                    <details>
                        <summary>@entry.Books.Count książ@(entry.Books.Count == 1 ? "ka" : entry.Books.Count <= 4 ? "ki" : "ek")</summary>
                        <ul>
                            @foreach (var book in entry.Books)
                            {
                                <li><a asp-action="Edit" asp-route-id="@book.BookId">@book.Title</a></li>
                            }
                        </ul>
                    </details>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Authors" asp-route-page="@(ViewBag.Page - 1)" asp-route-id="@ViewBag.Id">&laquo;</a>
            </li>

            @for (int i = 1; i <= ViewBag.MaxPage; i++)
            {
                if (Math.Abs(i - ViewBag.Page) <= 1) {
                    <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                        <a class="page-link" asp-action="Authors" asp-route-page="@i" asp-route-id="@ViewBag.Id">@i</a>
                    </li>
                } else if (i == 1 || i == ViewBag.MaxPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Authors" asp-route-page="@i" asp-route-id="@ViewBag.Id">@i</a>
                    </li>
                } else if (Math.Abs(i - ViewBag.Page) == 2)
                    {
                        <li class="page-item">
                            <a class="page-link">...</a>
                        </li>
                    }
                }
            
            <li class="page-item @(ViewBag.Page == ViewBag.MaxPage ? "disabled" : "")">
                <a class="page-link" asp-action="Authors" asp-route-page="@(ViewBag.Page + 1)" asp-route-id="@ViewBag.Id">&raquo;</a>
            </li>
        </ul>
    </nav>
}
else
{
    <h2>Brak autorów</h2>
}