@model List<WebApp.Models.GravityBookStore.BookModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Książki</h2>
<div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="Add" asp-controller="GravityBookStore">Dodaj książkę</a>
</div>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m[0].Title)</th>
            <th>@Html.DisplayNameFor(m => m[0].ISBN13)</th>
            <th>@Html.DisplayNameFor(m => m[0].NumPages)</th>
            <th>@Html.DisplayNameFor(m => m[0].PublicationDate)</th>
            <th>@Html.DisplayNameFor(m => m[0].AuthorsCount)</th>
            <th>@Html.DisplayNameFor(m => m[0].SoldCount)</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in @Model)
        {
            <tr>
                <td>@entry.Title</td>
                <td>@entry.ISBN13</td>
                <td>@entry.NumPages</td>
                <td>@entry.PublicationDate</td>
                <td>@entry.AuthorsCount</td>
                <td>@entry.SoldCount</td>
                <td>
                    <div>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id=@entry.BookId>Edytuj</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)">&laquo;</a>
            </li>

            @for (int i = 1; i <= ViewBag.MaxPage; i++)
            {
                if (Math.Abs(i - ViewBag.Page) <= 1) {
                    <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                } else if (i == 1 || i == ViewBag.MaxPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                } else if (Math.Abs(i - ViewBag.Page) == 2)
                    {
                        <li class="page-item">
                            <a class="page-link">...</a>
                        </li>
                    }
                }
            
            <li class="page-item @(ViewBag.Page == ViewBag.MaxPage ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)">&raquo;</a>
            </li>
        </ul>
    </nav>
}
else
{
    <h2>Brak książek</h2>
}